page-login {

}
.ubg{
    background: url(../assets/img/index/yhm.png) no-repeat; 
    margin-top: 10px;
}
.text-input-ios{
   padding-left: 33px;
   margin-top: 3px;
}
.pbg{
    background: url(../assets/img/index/mm.png) no-repeat; 
    margin-top: 10px;
}
.rg{
    margin-top: -40px;
}
.retitle{
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    cursor: pointer;
}
.retitle:hover{
    color:red
}