page-register {

}
.reg-input{
    font-size: 15px;
}
.reg-btn{
    display: block;
    width: 100%;
}
.reg-text{
    opacity: 0.5;
    font-size: 10px;
    cursor: pointer
}
.reg-text:hover{
    color:red;
}
